/tmp
/out-tsc

/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

.vscode/*
.idea/*
CVs/*

candidate-data.js
generic-cv-data.js
jobs-data.js
vagas.txt
insights.md
.github/skills/cv-base/SKILL.md
.github/skills/contexto/SKILL.md
desenvolvedor.md