Aqui ficará as vagas, apenas copie e cole aqui.
Separe as vagas usando um "-----------------------------"

https://www.linkedin.com/jobs/view/1234567890

Descrição da vaga 1...
-----------------------------

https://www.linkedin.com/jobs/view/0987654321

Descrição da vaga 2...
-----------------------------

https://www.linkedin.com/jobs/view/5555555555

Descrição da vaga 3...
-----------------------------